body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    display: inline !important;
}

.carou {
    position: absolute;
    margin: 0 0;
    width: 100%;
    height: 100vh;
}
label {
    display: inline;
}
.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
    width: 100% !important;
    height: 100vh !important;
}
.ols {
    left: 20% !important;
}

.book-form {
    position: absolute;
    margin-top: -40vh;
    margin-left: 60%;
    width: 25%;
    height: 35vh;
    background-color: white;
    border: 2px solid black;
}
.send-main {

    width: 5vw;
    height: 3vh;
    background-color: #7247D7
}
    .send-main:hover {
        background-color: #AF9CDA !important;
    }
.services {
    height: 70vh;
    width: 100%;
    background-color: white;
}
.main-book {
    display: table;
    vertical-align: middle;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.tobook-photo{
    margin-top: 10vh;
    
    margin-left: 15%;
    float: left;
    width: 50%;
    height: 60vh;
    background-image: url("Photos/tobook.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
.tobook-text {
    display: block;
}
.dates {
    display: inline-block !important;
    width: 12vw !important;
}
#myModal {
    background-color: aliceblue;
    width: 25vh;
    height: 25vh;
    color: black;
    border: 2px solid black;
    border-radius: 2px;
}
#comirm-main {
    
}
.control-ap {
    height: 5vh;
    width: 15%;
    display: inline-block;
}
#__ig_wm__ {
    display: none !important;
}

.img-ap {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 70px;
}

.search {
    height: 17vh;
}
.for-img-book {
    float: left;
    margin-left: 5%;
    width: 55%;
    height: 55vh;
}
.img-book {
    width: 100%;
    height: 100%;
}
.aclass {
    background-color: #797979;
}

.aside-menu {
    float: right;
}

#profile {
    width: 50%;
    height: 70vh;
}
.request {
    width: 60%;
    height: 20vh;
}