
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >×</button>

    </div>
    <div class="modal-body">
        <p>The application was sent</p>
    </div>

</div>
<script>
    
        $('#myModal').modal('show');
    
</script>
<!--<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    </div>
    <div class="modal-body">
        <p>The application was sent</p>
    </div>

</div>-->
